<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" href="/css/stylesheet.css" rel="stylesheet">
</head>
<body>
    <header th:insert="/header :: header"></header>
    <div>
        <!-- Avatar & data -->
        <div>

            <!-- Avatar -->
            <div>
                <span>Позывной:</span><br>
                <span>ID:</span><br>
                <img th:src="${pfp}" width="128px" height="128px">
            </div>

            <!-- Data -->
            <center>- - - Данные - - -</center>

            <div>
                <span>Имя:</span><br>
                <span>О себе:</span> <br>
                <span>Регистрация PDA:</span><br>
                <span>Последнее посещение:</span><br>
            </div>
        </div>
    </div>

    <footer th:insert="/footer :: footer"></footer>
</body>
</html>