<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="cat_bottom raius_down">
        <!-- Avatar & data -->
        <div class="rog pl-2">

            <!-- Avatar -->
            <div class="col-auto">
                <img src="/avatars/avatar.jpg" style="" class="radius"><br>
            </div>

            <form th:method="POST" th:object="${file}" th:action="@{/myprofile}" enctype="multipart/form-data">

                <input type="file" name="addpic" id="addpic" value="Добавить фото" required><br>
                <input type="submit" name="savepic" value="Сохранить фото" id="savepic">

            </form>

            <!-- Data -->
            <div class="col pl-4 text-shadow">
                <div>
                    <b class="text-orange">Позывной:</b> thymeleaf<br>
                    <div>
                        <b class="text-orange">ID:</b> 225584<br>
                    </div>
                </div>
            </div>
        </div>

        <center>- - - Данные - - -</center><div class="separ">
    </div>

        <b style="color:#f8af07">Имя:</b> <b>-</b><br>
        <b style="color:#f8af07;"> О себе:</b> <b>нет информации</b><br>
        <b style="color:#f8af07">Регистрация PDA:</b> <b style="font-size:0.9em">8 Авг 2023 в 09:30</b><br>
        <b style="color:#f8af07">Последнее посещение:</b> <b style="font-size:0.9em">5 сек. назад</b><br>

    </div>
</body>
</html>